.spinner {
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.texto {
  font-weight: bold;
  font-size: 25px;
  padding-top: 10px;
}
