.tablero {
  background-color: rgb(192, 164, 128);
  height: 100%;
}

.titulo {
  color: white;
  text-align: center;
  padding-top: 10px;
  margin: 0;
}

.contenedorPedidos {
  background-color: rgb(226, 214, 191);
  height: 100%;
  overflow: scroll;
}

.pedidos {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}
